*{
    margin: 0;
    padding: 0;
}



.title{
    margin-bottom: 60px;
}

.title > h1{
    font-family: 微軟正黑體;
    font-size: 36px;
    text-align: center;
    margin-top: 120px;
    letter-spacing: 5px;
}

.title > h3{
    text-align: center;
    color: rgb(168, 105, 41);
    margin-top: 5px;
}

.choose{
    position:relative;
    margin: auto;
    max-width: 1000px;
}

.label{
    font-weight: bold;
    font-size: 18px;
    letter-spacing: 5px;
    width: 25%;
}

.label p {
    display: inline;
}

.aroma{
    display: flex;
    justify-content:center;
    width: 50%;
    margin: auto;
    margin-bottom:20px;
}

.list{
    display: flex;
    list-style: none;
    gap:20px;
    margin-left: 10px;
    width: 75%;
}

.list > li{
    border: 1px solid rgba(168, 105, 41, 0.575);
    width: 120px;
    text-align: center;
    border-radius: 5%;

}

.list li:hover{
    background-color: rgba(145, 90, 35, 0.274);;
    color: whitesmoke;
}

.list a{
    text-decoration: none;
    color: inherit;
    color: rgb(145, 90, 35);
}

.list a:hover{
    color: whitesmoke;
}

.taste{
    display: flex;
    justify-content: center;
    margin-top: 15px;
    width: 50%;
    margin: auto;
   
}

.line::after{
    content: "";
    width: 100%;
    height: 0px;
    border: 0.5px solid rgb(189, 184, 184);
    background-color: rgb(192, 181, 181);
    position: absolute;
    top:130px;
    
    
}

.tea_list{
    display: flex;
    justify-content: center;
    margin-top: 80px;
    gap: 60px;
    position: relative;
    
    
}

.product{
    position: relative;
    list-style-type: none;
}

.product > p{
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    
}

.tea{
    position: relative;
}

.product > img{
    width: 300px;
}

.split_line{
    content: "";
    width: 300px;
    height: 0px;
    border: 0.5px solid rgba(235, 235, 235, 0.795);
    background-color: rgb(192, 181, 181);
    position: absolute;
    top: 350px;
}

.information{
    margin-top: 40px;
}

.information  td{
    font-size: 16px;
    font-weight: bold;
    color:rgb(136, 135, 135);   
   
}

.origin{
    display: flex;
    gap: 10px;
}

.label1{
    width: 80px;
    text-align: center;
    color: rgb(245, 245, 245);
    font-weight: bold;
    background-color:rgb(224, 204, 185);
    border-radius: 5px;
}

.breed{
    display: flex;
    gap: 10px;
    margin-top: 5px;
}

.label2{
    width: 80px;
    text-align: center;
    color: rgb(245, 245, 245);
    font-weight: bold;
    background-color:rgb(211, 166, 125);
    border-radius: 5px;
}

.feel{
    display: flex;
    gap: 10px;
    margin-top: 5px;
}

.label3{
    width: 80px;
    text-align: center;
    color: rgb(245, 245, 245);
    font-weight: bold;
    background-color:rgb(219, 148, 175);
    border-radius: 5px;
}

.price{
    display: flex;
    gap: 10px;
    margin-top: 5px;
}


.joincar {
    width: 80px;
    text-align: center;
    background-color:rgb(173, 173, 165);
    border-radius: 5px;
    position: absolute;
    left: 200px;
    bottom: 0px;
    
    color: rgb(245, 245, 245);
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
}


.label4{
    width: 80px;
    text-align: center;
    color: rgb(245, 245, 245);
    font-weight: bold;
    background-color:rgb(145, 188, 223);
    border-radius: 5px;
}



@media screen and (max-width:768px){
    
    .line {
        display: none;
    }

    .choose{
        position:relative;
        margin: auto;
        width: 100%;
      
    }
    
    .label{
        font-weight: bold;
        font-size: 16px;
        letter-spacing: 5px;
        width: 20%;
        padding: 0 0 0 15%;
        
    }
    
    .label p {
        display: inline;
        
    }
    
    .aroma{
        display: flex;
        width: 100%;
        margin: auto;
        margin-bottom:20px;
        
    }
    
    .list{
        display: flex;
        list-style: none;
        width: 80%;
    }
    
    .list > li{
        border: 1px solid rgba(168, 105, 41, 0.575);
        width: 20%;
        text-align: center;
        border-radius: 5%;
    
    }
    
    .list li:hover{
        background-color: rgba(145, 90, 35, 0.274);;
        color: whitesmoke;
    }
    
    .list a{
        text-decoration: none;
        color: inherit;
        color: rgb(145, 90, 35);
    }
    
    .list a:hover{
        color: whitesmoke;
    }
    
    .taste{
        display: flex;
        width: 100%;
        margin: auto;
        margin-bottom:20px;
        
       
    }
    
    .line::after{
        content: "";
        width: 100%;
        height: 0px;
        border: 0.5px solid rgb(189, 184, 184);
        background-color: rgb(192, 181, 181);
        position: absolute;
        top:130px;
        
    }


    .tea_list{
        width: 100%;
        margin: auto;
        margin-top: 5%;
        position: relative;
        flex-direction: column;
    }
    
    .product{
        position: relative;
        list-style-type: none;
        width: 80%;
        margin: auto;
    }
    
    .product > p{
        text-align: center;
        font-weight: bold;
        font-size: 20px;
    }
    
    
    .product > img{
        width: 50%;
        padding: 0 25%;
    }
    
    .split_line{
       display: none;
    }
    
    .information{
        margin: auto;
        width: 100%;
        
    }
    
    .information  td{
        font-size: 16px;
        font-weight: bold;
        color:rgb(136, 135, 135);   
    }
    
    .origin{
        display: flex;
        margin-top: 20px;
        padding: 0 25%;
    }
    
    .label1{
        width: 70px;
        color: rgb(245, 245, 245);
        font-weight: bold;
        background-color:rgb(224, 204, 185);
        border-radius: 5px;
        margin: 0 2% 0 0;
    }
    
    .breed{
        display: flex;
        margin-top: 5px;
        padding: 0 25%;
    }
    
    .label2{
        width: 70px;
        text-align: center;
        color: rgb(245, 245, 245);
        font-weight: bold;
        background-color:rgb(211, 166, 125);
        border-radius: 5px;
        margin: 0 2% 0 0;
    }
    
    .feel{
        display: flex;
        margin-top: 5px;
        padding: 0 25%;
    }
    
    .label3{
        width: 70px;
        text-align: center;
        color: rgb(245, 245, 245);
        font-weight: bold;
        background-color:rgb(219, 148, 175);
        border-radius: 5px;
        margin: 0 2% 0 0;
    }
    
    .price{
        display: flex;
        margin-top: 5px;
        padding: 0 25%;
    }
    
    .joincar {
        width: 80px;
        text-align: center;
        background-color:rgb(173, 173, 165);
        border-radius: 5px;
        position: absolute;
        left: 60%;
        bottom: 0px;

        color: rgb(245, 245, 245);
        text-decoration: none;
        font-weight: bold;
        font-size: 14px;
    }
    

    .label4{
        width: 70px;
        text-align: center;
        color: rgb(245, 245, 245);
        font-weight: bold;
        background-color:rgb(145, 188, 223);
        border-radius: 5px;
        margin: 0 2% 0 0;
    }


}

@media screen and (max-width: 450px){
    
    .origin{
        display: flex;
        margin-top: 20px;
        padding: 0 10%;
    }

    .breed{
        display: flex;
        margin-top: 5px;
        padding: 0 10%;
    }

    .feel{
        display: flex;
        margin-top: 5px;
        padding: 0 10%;
    }

    .price{
        display: flex;
        margin-top: 5px;
        padding: 0 10%;
    }

    .product > img{
        width: 80%;
        padding: 10% 10%;
    }

}